h1,h2{
  
    text-align:  center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#collegeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}   
table{
   border: 1px solid black;
   display: flex;
   justify-content: center;
    align-items: center;
    border-collapse: collapse;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    width: 40%;
    background-color: #1d9ad4;
    color: white;
    border-radius: 15px;
    align-items: center;
}
@media screen and (max-width: 600px){
  select{
    width:100%;
  }
      
}